<p id="notice"><%= notice %></p>

<p>
  <strong>Today:</strong>
  <%= @list.today %>
</p>

<p>
  <strong>Yesterday:</strong>
  <%= @list.yesterday %>
</p>

<p>
  <strong>Impediment:</strong>
  <%= @list.impediment %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
